<div class="container">
    <div class="col"></div>
        <div class="col-md-7">
    <h1>DIVIDE AND CONQUER</h1>

<h2>clear team initiatives, progress tracking, personal management</h2>
<br/>
<%= button_to("Let's Start Planning", new_member_path, { :method => :get, class: 'button-purp'})%>
          
        </div>
    <div class="col"></div>
    <div class="hp-logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 243.37 163.16"><defs><style>.cls-1{fill:#606161;}.cls-2{fill:#85cba5;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><path class="cls-1" d="M77.82,86.29A48.07,48.07,0,0,0,67.26,70.11,46.31,46.31,0,0,0,51.15,59.69,56.22,56.22,0,0,0,30.6,56.05H0v102H30.6a56,56,0,0,0,20.55-3.64A46.31,46.31,0,0,0,67.26,144a48.07,48.07,0,0,0,10.56-16.18,55,55,0,0,0,3.79-20.76A55,55,0,0,0,77.82,86.29Zm-11.37,36.8a34.2,34.2,0,0,1-7.87,12.17A34.65,34.65,0,0,1,46.34,143a44.15,44.15,0,0,1-15.74,2.7H12.39V68.44H30.6a44.37,44.37,0,0,1,15.74,2.69,34.53,34.53,0,0,1,12.24,7.73A34.11,34.11,0,0,1,66.45,91a43.94,43.94,0,0,1,2.77,16A44,44,0,0,1,66.45,123.09Z"/><path class="cls-1" d="M111.48,56.05v102H99.1v-102Z"/><path class="cls-1" d="M240,0,171.23,163.16,123.87,56.05l47.36,79Z"/><path class="cls-2" d="M243.37,51.6v107H231V51.6Z"/><path class="cls-2" d="M243.37,6.55v40H231v-13Z"/></g></g></svg></div>
</div>
</div>